/* Body */

body {
	margin: 0;
	background-color: #000;
	overscroll-behavior: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding:0;
	font-weight: bold;
}

/* Upper Left */

.overlay1 {
	position: absolute;
	top: 1%;
	left: 1%;
	width: 240px;
	height: 12px;
	color: black;
	font-family: Courier;
	font-size: 12pt;
	z-index: 1;
}

/* Buttons */

button {
	-webkit-appearance: none;	
	font-family: Courier;
	font-size: 12pt;
	text-align: center;
	position: absolute;
	min-width: 80px;
	border-radius: 0;
	z-index: 1;
}

/* Upper Right Side */

.d1TypeButton {
	right: 20px;
	top: 40px;
}

